.first-1 {
  width: 100%;
  height: 30%;
  max-height: 400px;
  display: flex;
  gap: 12px;
  margin: 10px 0;
}

.options-container {
  min-width: 170px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 8px;
  background-color: white;

}

.categories {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.appliances-link {
  font-size: 12px;
  color: black;
  text-decoration: none;
}


.appliances-container {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}

.appliances-container:hover .appliances {
  fill: #1eb9f6;
}

.appliances-container:hover .appliances-link {
  color: #1eb9f6;
}

.appliances {
  fill: black;
  width: 20px;
  height: 20px;
}

.slideshow {
  width: 68%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.slideshow .prev,
.slideshow .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
}

.slideshow .prev {
  left: 10px;
}

.slideshow .next {
  right: 10px;
}

.slideshow .prev:hover,
.slideshow .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.desktop {
  flex: 0 0 auto;
  /* Prevent images from shrinking or growing */
  width: 100%;
  height: auto;
}

.mini-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.call-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.phone-icon {
  width: 32px;
}


.phone-text-container {
  width: 120px;
}

.call-text {
  font-size: 15px;
  font-weight: 500;
}

.phone-no {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.jumia-force {
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 180px;
}

.two-way {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: start;
  flex: 1;
}




@media (max-width: 1000px) {
  

  .desktop {
    width: 100%;
  }

  .slideshow {
    width: 700px;
    flex: 1;
  }

  .options-container {
    width: 180px;
  }

  .two-way {
    display: none;
  }
}

@media (max-width: 540px) {
  .options-container {
    display: none;
  }
}