.order-container {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 20px;

}

.order-info {
  background-color: rgb(43, 118, 168);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: roboto, Arial;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}


.product-info {
  margin-top: 30px;
  display: flex;
  gap: 60px;
}


.product-Img {
  width: 200px;
  margin-left: 2rem;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
}


.buy-btn {
  padding: 10px;
  text-wrap: nowrap;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(2, 106, 243);
  cursor: pointer;
}
.buy-btn:hover {
  background-color: rgb(58, 132, 230);
}

.buy-it-img {
  width: 30px;
  vertical-align: middle;
}


.delivery-time {
  font-size: 19px;
  font-family: roboto, Arial;
  font-weight: 700;
}


.product-nAme {
  font-size: 20px;
  font-family: roboto, Arial;
  white-space: nowrap;
}


.quantity {
  font-size: 18px;
  font-family: roboto, Arial;
}


.btns-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.track-btn {
  padding: 10px 80px;
  font-size: 18px;
  font-family: roboto, Arial;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-wrap: nowrap;
  margin-right: 2rem;
  cursor: pointer;
}


.track-btn:hover {
  border-color: rgb(43, 118, 168);
  color: rgb(43, 118, 168);
}









@media (max-width: 1200px) {
  .buy-btn {
    margin: 0px;
  }
}

@media (max-width: 1100px) {
  .btns-container {
    gap: 100px;
  }

  .track-btn {
    padding: 10px 50px;
  }

  .product-info {
    gap: 30px;
  }

  .product-Img {
    margin-left: 1rem;
  }
  .product-nAme {
    width: 440px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 820px) {
    .product-Img {
      width: 170px;
      height: 170px;
    }

    .delivery-time {
      font-size: 16px;
    }

    .product-nAme,
    .quantity {
      font-size: 15px;
    }

    .buy-btn {
      font-size: 12px;
      padding: 5px;
      
    }

    .buy-it-img {
      width: 20px;
    }

    .btns-container {
      gap: 70px;
    }

    .track-btn {
      padding: 7px 40px;
      font-size: 14px;
    }

    .order-info div {
      font-size: 14px;
    }
  }

  @media (max-width: 750px) {
    .product-Img {
      width: 100px;
      height: 100px;
    }

    .delivery-time {
      font-size: 15px;
    }

    .product-nAme,
    .quantity {
      font-size: 14px;
    }

    .buy-it-img {
      width: 18px;
      vertical-align: middle;
    }

    .buy-btn {
      font-size: 10px;
      padding: 5px 7px;
    }

    .order-info div {
      font-size: 15px;

    }

    .product-info {
      gap: 10px;
    }

    .btns-container {
      gap: 140px;
    }

    .track-btn {
      padding: 3px 20px;
      font-size: 12px;
      border: 2px solid black;
    }

    .product-nAme {
      width: 230px;
     
    }


    @media (max-width: 540px) {
      .btns-container {
        gap: 30px;
      }

      .track-button {
        padding: 5px 10px;
        font-size: 10px;
      }

      .order-info div {
        font-size: 12px;
      }

      .product-nAme {
        width: 200px;
      }

      .track-btn {
        padding: 5px 7px;
      }

      .buy-btn {
        padding: 1px 7px;
      }

      .btns-container {
        gap: 1.5rem;
      }
    }

    @media (max-width: 400px) {
      .order-info div {
        font-size: 8px;
      }

      .product-nAme,
      .quantity {
        font-size: 12px;
      }

      .delivery-time {
        font-size: 10px;
      }

      .product-nAme {
        width: 190px;
      }

      .product-Img {
        width: 60px;
        height: 60px;
      }

      .product-info {
        gap: 10px;
      }

      .buy-btn {
        font-size: 10px;
      }

      .buy-it-img {
        width: 12px;
      }

      .track-btn {
        padding: 7px 13px;
        font-size: 10px;
      }
      

      @media (max-width: 330px) {
        .track-btn {
          padding: 6px 8px;
        }
        
      }
    }
  }
}