
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(240, 4%, 95%);
}


.home-overall {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

